<h1 class="center">¡Contáctenos!</h1>

<div class="row">
  <form id="formulario" class="col s12" method="POST" action="https://formspree.io/Science4kidsSupp@gmail.com">
    <div class="col m12">
        <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" required>
              <label for="first_name">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" required>
              <label for="last_name">Apellido</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" required>
              <label for="email">Correo Electrónico</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="msj" class="materialize-textarea validate" required></textarea>
              <label for="msj">Mensaje</label>
            </div>     
          </div> 
          <br>
          <div class="row">
            <div class="col s12">
              <button class="btn waves-effect waves-light right" type="submit" name="action"><i class="material-icons left">send</i>Enviar</button>
            </div>
          </div>
    </div>
    
  </form>
</div>
