<br>
<a routerLink="/" id="btnBack" class="waves-effect waves-light btn right">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¡Aprende del Sistema Solar!</h1>
<br>

<div class="row">

  <div class="col s12 m4 l4">
    <a routerLink="/infoSistemaSolar">
      <img id="menu" src="/assets/images/iconos/sabias4.gif" class="circle responsive-img">
    </a>
    <h5 class="center-align">¿Sabías que...?</h5>
  </div>

  <div class="col s12 m4 l4">
    <a routerLink="/videoSistemaSolar">
      <img id="menu" src="/assets/images/iconos/video2.gif" class="circle responsive-img">
    </a>
    <h5 class="center-align">Videos</h5>
  </div>

  <div class="col s12 m4 l4">
    <a routerLink="/juegoSistemaSolar">
      <img id="menu" src="/assets/images/iconos/juegos2.gif" class="circle responsive-img">
    </a>
    <h5 class="center-align">Juegos</h5>
  </div>
</div>