<h1 class="center">¿Sabías que...?</h1>

<div class="row">

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/selva/leon.gif" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">León</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El León</span>
        <p>El león recibe el título del "Rey de la Selva".</p>
        <p>No se alimentan de hierba, ni de frutos o vegetales, se alimentan únicamente de carne de otros animales, por lo tanto son carnívoros.</p>
      </div>
    </div>
  </div>
  
  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/selva/cebra.gif" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center" face= "fuente">Cebra</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>La Cebra</span>
            <p>La cebra es un animal de piel negra con rayas blancas en todo su cuerpo, menos en el vientre.</p>
            <p>Se alimenta principalmente de hierba, hojas, brotes, arbustos, ramas, cortezas y frutas.</p>
          </div>
    </div>
  </div>
  
  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/selva/elefante.gif" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Elefante</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Elefante</span>
            <p>Los elefantes son los animales terrestres más grandes.</p>
            <p>No pueden saltar pero les gusta mucho el agua y saben nadar.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
              <div class="card-image waves-effect waves-block waves-light">
                <img src="/assets/images/selva/jirafa.gif" class="activator">
              </div>
              <div class="card-content">
                <span id="letra" class="card-title activator grey-text text-darken-4 center">Jirafa</span>
              </div>
              <div class="card-reveal">
                <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>La Jirafa</span>
                <p>Llega a medir hasta 6 metros de alto. Su cuello es muy largo, puede medir más de 2 metros.</p>
                <p>Las jirafas tienen muy buen oído y vista, tienen una lengua muy fuerte y larga.</p>
              </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/selva/guepardo.gif" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Guepardo</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>EL Guepardo</span>
            <p>El Guepardo es el animal más veloz sobre la tierra, alcanza una velocidad de 110 kilómetros por hora.</p>
            <p>Tienen la agilidad de los gatos, se parece en su cabeza pequeña y redondeada, su pelo y su larga cola.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/assets/images/selva/mono.gif" class="activator">
            </div>
            <div class="card-content">
              <span id="letra" class="card-title activator grey-text text-darken-4 center">Mono</span>
            </div>
            <div class="card-reveal">
              <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Mono</span>
              <p>Los monos son pequeños, curiosos, inteligentes, muy graciosos y divertidos. </p>
              <p>Su cuerpo generalmente es de color marrón pero también puede ser más oscuro.</p>
            </div>
    </div>
  </div>

</div>

<div class="row">
    <div class="col s6">
      <a routerLink="/selva" id="btnBack" class="waves-effect waves-light btn">
        <i class="material-icons left">reply</i>Regresar</a>
    </div>
    <div class="col s6"> 
        <a id="btnBack" class="waves-effect waves-light btn right" (click)="topFunction()">
          <i class="material-icons left">arrow_upward</i>Subir</a>
      </div>
</div>