<h1 class="center">¡Sabías que...!</h1>

<div class="row">

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/selva/leon.gif" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">León</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>León</span>
        <br><br><font size="5" face= "fuente"> El león recibe el título del "rey de la selva"</font><br><br>
        <font size="5" face= "fuente"> No se alimentan de hierba, ni de frutos o vegetales, se alimentan únicamente de carne de otros animales</font>
      </div>
    </div>
  </div>
  
  <div class="col s12 m6 l4">
    <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/selva/cebra.gif" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center" face= "fuente">Cebra</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Cebra</span>
            <br><br><font size="5" face= "fuente">La cebra es un animal de piel negra, con rayas blancas en todo su cuerpo, menos en el vientre.</font><br><br>
            <font size="5" face= "fuente">Se alimenta principalmente de hierba, hojas, brotes, arbustos, ramas, cortezas y frutas.</font>
          </div>
    </div>
  </div>
  
  <div class="col s12 m6 l4">
    <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/selva/elefante.gif" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Elefante</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Elefante</span>
            <br><br><font size="5" face= "fuente">Los elefantes son los animales terrestres más grandes.</font><br><br>
            <font size="5" face= "fuente">No pueden saltar pero en cambio les gusta mucho el agua y saben nadar.</font>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img src="/assets/images/selva/jirafa.gif" class="activator">
              </div>
              <div class="card-content">
                <span id="letra" class="card-title activator grey-text text-darken-4 center">Jirafa</span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Jirafa</span>
                <br><br><font size="5" face= "fuente">Llega a medir hasta 6 metros de alto. Su cuello es muy largo, puede medir más de 2 metros.</font><br><br>
                <font size="5" face= "fuente">Las jirafas tienen muy buen oído y vista, tienen una lengua muy fuerte y larga.</font>
              </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/selva/guepardo.gif" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Guepardo</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Guepardo</span>
            <br><br><font size="5" face= "fuente">El Guepardo es el animal más veloz sobre la tierra alcanzar una velocidad de 110 km/h.</font><br><br>
            <font size="5" face= "fuente">Tienen la agilidad de los gatos, se parece en su cabeza pequeña y redondeada, su pelo y su larga cola.</font>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/assets/images/selva/mono.gif" class="activator">
            </div>
            <div class="card-content">
              <span id="letra" class="card-title activator grey-text text-darken-4 center">Mono</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Mono</span>
              <br><br><font size="5" face= "fuente">Los monos son pequeños, son curiosos, son inteligentes, son muy graciosos y divertidos. </font><br><br>
              <font size="5" face= "fuente">Su cuerpo generalmente es de color marrón pero también puede ser más oscuro, su tamaño es pequeño.</font>
            </div>
    </div>
  </div>

</div>