<h1 class="center">¡Aprende Jugando!</h1><br><br>

<div class="row">
  <div class="col s12 m6 l3">
    <a routerLink="selva">
      <img id="menu" src="/assets/images/modulos/selvaGif2.gif" class="circle responsive-img"> 
    </a>
    <h5 class="center">La Selva</h5>
  </div>

  <div class="col s12 m6 l3">
    <a routerLink="oceano">
      <img id="menu" src="/assets/images/modulos/oceanoGif2.gif" class="circle responsive-img">
    </a>
    <h5 class="center">El Océano</h5>
  </div>

  <div class="col s12 m6 l3">
    <a routerLink="cuerpoHumano">
      <img id="menu" src="/assets/images/modulos/cuerpoGif2.gif" class="circle responsive-img">
    </a>
    <h5 class="center">El Cuerpo Humano</h5>
  </div>

  <div class="col s12 m6 l3">
    <a routerLink="sistemaSolar">
      <img id="menu" src="/assets/images/modulos/solarGif2.gif" class="circle responsive-img">
    </a>
    <h5 class="center">El Sistema Solar</h5>
  </div>
</div>