<h1>Aprende Jugando!</h1>
<br>

<div class="row">
  <div class="col s3">
    <h5>La Selva</h5>
    <a routerLink="selva">
      <img id="menu" src="/assets/images/modulos/selva.png">
    </a>
  </div>

  <div class="col s3">
    <h5>Océano</h5>
    <a routerLink="oceano">
      <img id="menu" src="/assets/images/modulos/oceano.png">
    </a>
  </div>

  <div class="col s3">
    <h5>El Cuerpo Humano</h5>
    <a routerLink="cuerpoHumano">
      <img id="menu" src="/assets/images/modulos/cuerpo.png">
    </a>
  </div>

  <div class="col s3">
    <h5>Sistema Solar</h5>
    <a routerLink="sistemaSolar">
      <img id="menu" src="/assets/images/modulos/solar.png">
    </a>
  </div>
</div>