<br>
<a routerLink="/cuerpoHumano" id="btnBack" class="waves-effect waves-light btn">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¡Sabías que...!</h1>

<div class="row">

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/Cuerpo/oseo2.jpg" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Óseo</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Sistema Óseo</span>
        <p>Está constituido por 206 huesos, 32 dientes y otras estructuras encargadas de conectar a los huesos entre sí.</p>
        <p>Da forma al cuerpo humano y posibilita su movimiento.</p>
      </div>
    </div>
  </div>
  
  <div class="col s12 m6 l4">
    <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/Cuerpo/respiratorio2.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Respiratorio</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Sistema Respiratorio</span>
            <p>Es el encargado de llevar oxígeno a la sangre, para que esta lo distribuya a todos los tejidos del cuerpo.</p>
            <p>También elimina el dióxido de carbono ya que no nos es útil y es muy tóxico.</p>
          </div>
    </div>
  </div>
  
  <div class="col s12 m6 l4">
    <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/Cuerpo/digestivo2.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Digestivo</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Sistema Digestivo</span>
            <p>Es el encargado de transformar los alimentos que consumimos en nutrientes necesarios para el cuerpo.</p>
            <p>También elimina los desechos que el cuerpo ya no necesita.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img src="/assets/images/Cuerpo/muscular2.jpg" class="activator">
              </div>
              <div class="card-content">
                <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Muscular</span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Sistema Muscular</span>
                <p>Está constituido por musculos y tendones.</p>
                <p>Su funcion principal es generar movimiento y brindar soporte a los huesos y órganos del cuerpo.</p>
              </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/Cuerpo/nervioso2.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Nervioso</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Sistema Nervioso</span>
            <p>Está formado por el cerebro, la médula espinal y una red de nervios que llegan a todos los lugares del cuerpo.</p>
            <p>Se encarga de regular y coordinar las funciones y actividades del cuerpo.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/assets/images/Cuerpo/circulatorio2.jpg" class="activator">
            </div>
            <div class="card-content">
              <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Circulatorio</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>El Sistema Circulatorio</span>
              <p>Esta conformado por el corazón, las venas, arterias y la sangre.</p>
              <p>Es el encargado de distribuir la sangre por todo el cuerpo con el fin de alimentarlo y recolectar los desechos.</p>
            </div>
    </div>
  </div>

</div>