<header>

  <nav class="nav-extended">
    <div class="nav-wrapper">

     <!-- <a routerLink="" id="logo" class="brand-logo"><img src="/assets/images/logo5.png" alt="Sience4Kids" class="circle responsive-img"></a> -->

      <a routerLink="" id="logo" class="brand-logo"><img src="/assets/images/log2.png" alt="Sience4Kids"></a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="contact">Contacto</a></li>
        <li><a routerLink="about-us">Acerca de</a></li>
        <li><a id="btnPlay" (click)="video()" class="btn-floating pulse"><i class="material-icons">play_circle_filled</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="contact">Contacto</a></li>
        <li><a routerLink="about-us">Acerca de</a></li>
        <li><a (click)="video()"><i class="material-icons">play_circle_filled</i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent"></ul>
      <ul class="tabs tabs-transparent"></ul>
    </div>
  </nav>

</header>

<div id="spotFondo">
    <video id ="videoSpot" width="1080" height="590" class="center">
      <source src="/assets/videos/video.mp4" type="video/mp4">
    </video>
    <div id="btnVideo" class="col offset-m6 center">
        <a class="waves-effect waves-light btn center" (click)="cerrarVideo()"><i class="material-icons left">close</i>Cerrar</a>
    </div>
</div>
