
<footer class="page-footer">

  <div id="foot" class="footer-copyright">
    <div class="container">
      <div id="infoFooter" class="row">
        <div class="col s10 m10 l10 center">
          Copyright © 2018 Science4Kids, Costa Rica. Derechos Reservados.
        </div>
        <div class="col s2 m2 l2">
          <a href="https://www.facebook.com/Science4KidsCR" target="_blank"><img id="face" src="/assets/images/iconos/facebook.png" class="circle responsive-img"></a>
        </div>
      </div>
    </div> 
  </div>
</footer>
