<h1 class="center">
  ¿Sabías que...?</h1>

<div class="row">

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/SistemaSolar.jpg" width="250" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Sistema Solar</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>El Sistema Solar</span>
        <p>Se le llama Sistema Solar porque su centro es el Sol.</p>
        <p>Tiene aproximadamente 4.5 o 4.6 miles de millones de años.</p>
        <p>Consta de 8 planetas: Mercurio, Venus, Tierra, Marte, Júpiter, Saturno, Urano y Neptuno; y una estrella: El Sol.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Sol.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Sol</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>El Sol</span>
        <p>Es una estrella y es el centro de nuestro sistema solar. Todos los planetas giran alrededor de él.</p>
        <p>Tiene una temperatura de 6,000 grados centígrados, y una superficie de 6 billones de kilómetros cuadrados.</p>
        <p>La mayor parte de la energía utilizada por los seres vivos procede del Sol.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Luna.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Luna</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>La Luna</span>
        <p>La Luna es un satélite natural que gira en torno a la Tierra.</p>
        <p>Tiene cuatro fases:luna nueva, cuarto creciente, luna llena y cuarto menguante.</p>
        <p>Neil A. Armstrong fue el primer ser humano que pisó la superficie de la luna.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Mercurio.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Mercurio</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Mercurio</span>
        <p>Es el planeta más pequeño del Sistema Solar y el más cercano al Sol.</p>
        <p>Mide unos 5.000 kilómetros de diámetro.</p>
        <p>La temperatura en la superficie de Mercurio iluminada por el Sol puede alcanzar los 430 grados centígrados.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Venus.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Venus</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Venus</span>
        <p>Después del Sol, Venus es el lugar más caliente, su temperatura ronda los 450ºC.</p>
        <p>Tiene un diámetro de 12.103,6 km2</p>
        <p>Venus rota de forma sumamente lenta. Mientras que un día en la Tierra dura 24 horas, un día en Venus dura 243 días
          terrestres.
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Tierra.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Tierra</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Tierra</span>
        <p>Es el único planeta en el que se ha podido constatar que hay vida.</p>
        <p>Se formó hace aproximadamente 4.500 millones de años y cuenta con una temperatura media de unos 15ºC.</p>
        <p>Cuenta con un satélite natural, la Luna, y es el único planeta que tiene agua en forma líquida en su superficie.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Marte.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Marte</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Marte</span>
        <p>Tiene una coloración rojiza, debido a la gran cantidad de óxido de hierro en su superficie.</p>
        <p>Tiene un diámetro de 6794,4 km2 y una temperatura media de –46ºC.</p>
        <p>El robot Curiosity fue enviado desde la Tierra a Marte para realizar investigaciones.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Jupiter.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Júpiter</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Júpiter</span>
        <p>Tiene un diámetro de 142,984 km2.</p>
        <p>Tiene una temperatura media de -121,15ºC.</p>
        <p>Es el planeta más grande del Sistema Solar.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Saturno.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Saturno</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Saturno</span>
        <p>Los anillos de Saturno están hechos de pedazos de hielo y roca.</p>
        <p>Es el segundo planeta más grande del sistema solar con un diámetro de 120,536 km2.</p>
        <p>Tiene una temperatura media de -130,15ºC.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Urano.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Urano</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Urano</span>
        <p>Tiene un diámetro de 51.118 km2.</p>
        <p>Tiene una temperatura media de -205,2ºC.</p>
        <p>Urano está compuesto de agua, metano y amoniaco sobre un pequeño centro rocoso.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Neptuno.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Neptuno</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Neptuno</span>
        <p>Neptuno es oscuro, frío y muy ventoso.</p>
        <p>Tiene un diámetro de 49.572 km2.</p>
        <p>Tiene una temperatura media de -220ºC3.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Estrellas.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Estrellas Fugaces</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>Las Estrellas Fugaces</span>
        <p>Son meteoros pequeños que al entrar a gran velocidad en la atmósfera de la Tierra se "queman"
          por la fricción y producen el trazo luminoso en el cielo, estos se pueden observar en cualquier noche despejada.</p>
        <p>El origen de estas partículas está en los cometas, que a su paso van perdiendo material y dejándolo atras.</p>
      </div>
    </div>
  </div>

</div>

  <div class="row">
      <div class="col s6">
          <a routerLink="/sistemaSolar" id="btnBack" class="waves-effect waves-light btn">
            <i class="material-icons left">reply</i>Regresar</a>
      </div>
      <div class="col s6"> 
          <a id="btnBack" class="waves-effect waves-light btn right" (click)="topFunction()">
            <i class="material-icons left">arrow_upward</i>Subir</a>
        </div>
  </div>