<h1 class="center">¡Sabías que...!</h1>

<div class="row">

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/SistemaSolar.jpg" width="250" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Sistema Solar</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Sistema Solar</span>
        <p>-Se le llama Sistema Solar porque su centro es el Sol.</p>
        <p>-Tiene aproximadamente 4.5 o 4.6 miles de millones de años.</p>
        <p>-Consta de 8 planetas: Mercurio, Venus, Tierra, Marte, Júpiter, Saturno, Urano y Neptuno; y una estrella: El Sol.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Sol.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Sol</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Sol</span>
        <p>-El Sol es una estrella.</p>
        <p>-Es el centro de nuestro sistema solar.</p>
        <p>-Todos los planetas en nuestro sistema solar giran alrededor del Sol.</p>
        <p>-Tiene una temperatura de 6,000ºC</p>
        <p>-Su superficie es de 6 billones de km2.</p>
        <p>-La Tierra cabría dentro del sol 109 veces, se necesitarian más de 11.000 Tierras sólo para cubrir la superficie
          del sol.</p>
        <p>-La mayor parte de la energía utilizada por los seres vivos procede del Sol.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Luna.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Luna</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Luna</span>
        <p>-La Luna es un satélite natural que gira en torno a la Tierra.</p>
        <p>-Tiene cuatro fases:</p>
        <p>1-Luna nueva</p>
        <p>2-Cuarto creciente</p>
        <p>3-Luna llena</p>
        <p>4-Cuarto menguante</p>
        <p>-Neil A. Armstrong fue el primer ser humano que piso la superficie de la luna.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Mercurio.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Mercurio</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Mercurio</span>
        <p>-Es el planeta más pequeño del Sistema Solar y el más cercano al Sol.</p>
        <p>-Mide unos 5.000 kilómetros de diámetro.</p>
        <p>-La temperatura en la superficie de Mercurio iluminada por el Sol puede alcanzar los 430ºC.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Venus.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Venus</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Venus</span>
        <p>-Después del Sol, Venus es el lugar más caliente del Sistema Solar con una temperatura promedio que ronda los 450°C.</p>
        <p>-Tiene un diámetro de 12.103,6 km2</p>
        <p>-Venus rota de forma sumamente lenta. Mientras que un día en la Tierra dura 24 horas, un día en Venus dura 243 días
          terrestres.
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Tierra.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Tierra</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Tierra</span>
        <p>-Es el único planeta en el que se ha podido constatar que hay vida.</p>
        <p>-Se formó hace aproximadamente hace unos 4.500 millones de años.</p>
        <p>-La circunferencia en el ecuador es de 40 091 km. El diámetro en el ecuador es de 12 756 km y en los polos de 12
          730 km.</p>
        <p>-La temperatura media de la superficie terrestre es de unos 15 ºC.</p>
        <p>-Entre la Tierra y el Sol hay una distancia media de 150 millones de kilómetros.</p>
        <p>-Tiene un satélite natural, la Luna.</p>
        <p>-La Tierra es el único planeta que tiene agua en forma líquida en su superficie. Alrededor del 71% de la Tierra está
          cubierta de océanos de agua salada.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Marte.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Marte</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Marte</span>
        <p>-Tiene una coloración rojiza, debido a la gran cantidad de óxido de hierro que tiene su superficie.</p>
        <p>-Tiene un diámetro de 6794,4 km2.</p>
        <p>-Tiene una temperatura media de –46ºC.</p>
        <p>-El robot llamado Curiosity fue enviado desde la Tierra a Marte para realizar investigaciones.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Jupiter.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Júpiter</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Júpiter</span>
        <p>-Tiene un diámetro de 142,984 km2.</p>
        <p>-Tiene una temperatura media de -121,15ºC.</p>
        <p>-Es el planeta mas grande del sistema solar.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Saturno.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Saturno</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Saturno</span>
        <p>-Saturno no es el único planeta que tiene anillos.</p>
        <p>-Los anillos de Saturno están hechos de pedazos de hielo y roca.</p>
        <p>-Es el segundo planeta mas grande del sistema solar con un diámetro de 120,536 km2.</p>
        <p>-Tiene una temperatura media de -130,15ºC.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Urano.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Urano</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Urano</span>
        <p>-Tiene un diámetro de 51.118 km2.</p>
        <p>-Tiene una temperatura media de -205,2ºC.</p>
        <p>-Urano está compuesto de agua, metano y amoniaco sobre un pequeño centro rocoso.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Neptuno.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Neptuno</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Neptuno</span>
        <p>-Neptuno es oscuro, frío y muy ventoso.</p>
        <p>-Tiene un diámetro de 49.572 km2.</p>
        <p>-Tiene una temperatura media de -220ºC3.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/planetas/Estrellas.gif" width="243" height="270" class="activator">
      </div>
      <div class="card-content grey lighten-2">
        <span id="letra" class="card-title activator grey-text text-darken-4 center" style="font-weight: bold;">Estrellas Fugaces</span>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4" style="font-weight: bold;">
          <i class="material-icons right">close</i>Estrellas Fugaces</span>
        <p>-Las estrellas fugaces son meteoros pequeños que al entrar a gran velocidad en la atmósfera de la Tierra se "queman"
          por la fricción y producen el trazo luminoso en el cielo y que llamamos estrella fugaz.</p>
        <p>-El origen de estas partículas está en los cometas, que a su paso van perdiendo material y dejándolo atras. </p>
        <p>-Los meteoros o estrellas fugaces se pueden observar en cualquier noche despejada.</p>
      </div>
    </div>
  </div>

</div>