<br>
<a routerLink="/sistemaSolar" id="btnBack" class="waves-effect waves-light btn">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¡Aprendamos un poco más!</h1>

<div  class="row">

    <div class="col s12 m12 l6">
        <iframe width="470" height="315" src="https://www.youtube.com/embed/yg_A80TMhaM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div>

    <div class="col s12 m12 l6">
        <iframe width="470" height="315" src="https://www.youtube.com/embed/WZZvTo21smA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div>

    <div class="col s12 m12 l6">
        <iframe width="470" height="315" src="https://www.youtube.com/embed/UymxMp7j7Ps" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div>
  
    <div class="col s12 m12 l6">
        <iframe width="470" height="315" src="https://www.youtube.com/embed/ci3Mn8VGCuE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div> 

</div>  





