<br>
<a routerLink="/" id="btnBack" class="waves-effect waves-light btn right">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¿Quiénes somos?</h1>
<br>
<div id="formulario" class="row">
  
   <div id="about" class="col s12 m12 l6">
       Somos una empresa dedicada a diseñar y construir sistemas web enfocados a las ciencias, donde los niños y niñas podrán aprender de una forma dinámica, mediante información interesante, videos y juegos sobre:
       <br>&emsp;* El Cuerpo Humano.
       <br>&emsp;* El Sistema Solar.
       <br>&emsp;* El Océano.
       <br>&emsp;* La Selva.
       <br>
       <br>
       Equipo:
       <br>
       &emsp;* Denisse González Salas.<br>
       &emsp;* Royers Murillo Castro.<br>
       &emsp;* Juan José Guerrero Conejo.<br>
       &emsp;* Luis Diego Quirós Rodríguez.
       <br>
  
   </div>

   <div class="col s12 m12 l6">
       <img id="imgAbout" src="/assets/images/logo5.png" alt="Sience4Kids" class="circle responsive-img">
   </div>

</div>



