<div class="container">
    <p>
        Somos una empresa dedicada a que los niños conozcan y aprendan jugando
        sobre temas de ciencias como son:
        <br>&emsp;&emsp;El Cuerpo Humano.
        <br>&emsp;&emsp;El Sistema Solar.
        <br>&emsp;&emsp;El Oceano.
        <br>&emsp;&emsp;La Selva.
        
    </p>

    <p>
        <br>
        Desarrolladores
        <br>
        &emsp;&emsp;&emsp;&emsp;Denisse Gonzalez Salas.<br>
        &emsp;&emsp;&emsp;&emsp;Royers Murillo Castro.<br>
        &emsp;&emsp;&emsp;&emsp;Juan José Guerrero Conejo.<br>
        &emsp;&emsp;&emsp;&emsp;Luis Diego Quirós Rodríguez.<br>
    </p>
</div>


