<h1 class="center">¡Aprendamos un poco más!</h1>

<div  class="row">

  <div class="col s12 m12 l6 center">
      <iframe width="510" height="315" src="https://www.youtube.com/embed/B5zzAHlalbk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

  <div class="col s12 m12 l6 center">
      <iframe width="510" height="315" src="https://www.youtube.com/embed/6UFu3fCvAxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

  <div class="col s12 m12 l6 center">
      <iframe width="510" height="315" src="https://www.youtube.com/embed/daw_Yg_u6Gw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

  <div class="col s12 m12 l6 center">
      <iframe width="510" height="315" src="https://www.youtube.com/embed/9kXfZYXKys8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

</div>

<div class="row">
        <div class="col s6">
            <a routerLink="/oceano" id="btnBack" class="waves-effect waves-light btn">
                <i class="material-icons left">reply</i>Regresar</a> 
        </div>
        <div class="col s6"> 
            <a id="btnBack" class="waves-effect waves-light btn right" (click)="topFunction()">
              <i class="material-icons left">arrow_upward</i>Subir</a>
          </div>
</div>