<br>
<a routerLink="/oceano" id="btnBack" class="waves-effect waves-light btn right">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¡Aprendamos un poco más!</h1>

<div  class="row">

  <div class="col s12 m12 l6">
      <iframe width="470" height="315" src="https://www.youtube.com/embed/B5zzAHlalbk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

  <div class="col s12 m12 l6">
      <iframe width="470" height="315" src="https://www.youtube.com/embed/6UFu3fCvAxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

  <div class="col s12 m12 l6">
      <iframe width="470" height="315" src="https://www.youtube.com/embed/daw_Yg_u6Gw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

  <div class="col s12 m12 l6">
      <iframe width="470" height="315" src="https://www.youtube.com/embed/9kXfZYXKys8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br><br>
  </div>

</div>
