<br>
<a routerLink="/oceano" id="btnBack" class="waves-effect waves-light btn right">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¿Sabí­as que...?</h1>

<div class="row">

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/assets/images/oceano/trench.jpg" class="activator">
      </div>
      <div class="card-content">
        <span id="letra" class="card-title activator grey-text text-darken-4 center">Fosa de las Marianas</span>
      </div>
      <div class="card-reveal">
        <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>La Fosa de las Marianas</span>
        <p>Es la parte más profunda del océano con 11000 metros bajo el nivel del mar.</p>
        <p>A tanta profundidad no llega la luz del sol.</p>
        <p>La mayoria de animales que viven ahí, son de un color transparente.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/oceano/whale.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Mamíferos Marinos</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Los Mamíferos Marinos</span>
            <p>Aunque no lo parezca, las ballenas y delfines no son peces sino mamíferos.</p>
            <p>El cachalote es el mamífero que más profundo se sumerge, llegando a los 1500 metros.</p>
            <p>Algunos mamíferos acuáticos ven con el oído, es decir, con un sentido llamado ecolocación.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/oceano/vela.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Peces más rápidos</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Los Peces más rápidos</span>
            <p>El pez más rápido del mundo es el tiburón mako, con una velocidad de 114 kilómetros por hora.</p>
            <p>En el segundo lugar está el pez Vela, con una velocidad de 110 kilómetros por hora.</p>
            <p>Por último, en tercer lugar se encuentra el Marlín, con velocidades de hasta 80 kilómetros por hora.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
                <img src="/assets/images/oceano/medusa.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Animales Bioluminiscentes</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Los Animales Bioluminiscentes</span>
            <p>Animales como la Medusa arcoiris producen luz de forma natural.</p>
            <p>El uso de esta luz es para comunicación o atraer a su presa.</p>
            <p>Insectos como luciérnagas o carbuncos también producen luz de forma natural.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="/assets/images/oceano/celacanto.jpg" class="activator">
          </div>
          <div class="card-content">
            <span id="letra" class="card-title activator grey-text text-darken-4 center">Fósiles Vivientes</span>
          </div>
          <div class="card-reveal">
            <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Los Fósiles Vivientes</span>
            <p>Algunas criaturas no han cambiado desde hace millones de años, a estos se les conoce como fósiles vivientes.</p>
            <p>El celacanto es un pez que se creía extinto, pero en 1998 se encontró un ejemplar, posee una estructura ósea externa como armadura.</p>
          </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card hover-reveal">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/assets/images/oceano/cora.jpg" class="activator">
            </div>
            <div class="card-content">
              <span id="letra" class="card-title activator grey-text text-darken-4 center">Corales</span>
            </div>
            <div class="card-reveal">
              <span id="letra" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Los Corales</span>
              <p>Aunque parezcan que son rocas, los corales son animales.</p>
              <p>Cuando los corales nacen son pequeños pólipos (tejidos), después se asientan en una roca y toman la forma que todos conocemos.</p>
            </div>
    </div>
  </div>

</div>

