<h1>Aprende del Sistema Solar!</h1>
<br>

<div class="row">
  <div class="col s4">
    <h5 class="center">Juegos</h5>
    <a routerLink="/juegoSistemaSolar">
      <img id="menu" src="/assets/images/iconos/juegos.gif">
    </a>
  </div>

  <div class="col s4">
    <h5 class="center">Sabias que...</h5>
    <a routerLink="/infoSistemaSolar">
      <img id="menu" src="/assets/images/iconos/sabias.gif">
    </a>
  </div>

  <div class="col s4">
    <h5 class="center">Videos</h5>
    <a href="https://www.youtube.com/watch?v=ZykXgSqet6A" target="_blank">
      <img id="menu" src="/assets/images/iconos/video.gif">
    </a>
  </div>
</div>