<br>
<a routerLink="/oceano" id="btnBack" class="waves-effect waves-light btn right">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h5>Encuentre Los Animales</h5>

<div id="elementos" class="row">
  <div class="panel panel-default" >
    <div class="col s1" id="img1">
      <img id="icon2" src="../../../assets/images/oceanojuego/tortuga.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img11" style="display: none">
        <img id="icon2" src="../../../assets/images/oceanojuego/tortugat.jpg" class="responsive-img" >
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img2">
      <img id="icon2" src="../../../assets/images/oceanojuego/pulpo.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img22" style="display: none" >
        <img id="icon2" src="../../../assets/images/oceanojuego/pulpot.jpg" class="responsive-img">
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img3">
      <img id="icon2" src="../../../assets/images/oceanojuego/anguila.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img33" style="display: none">
        <img id="icon2" src="../../../assets/images/oceanojuego/anguilat.jpg" class="responsive-img">
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img4">
      <img id="icon2" src="../../../assets/images/oceanojuego/cangrejo.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img44" style="display: none">
        <img id="icon2" src="../../../assets/images/oceanojuego/cangrejot.jpg" class="responsive-img">
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img5">
      <img id="icon2" src="../../../assets/images/oceanojuego/pezangel.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img55" style="display: none">
        <img id="icon2" src="../../../assets/images/oceanojuego/pezangelt.jpg" class="responsive-img">
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img6">
      <img id="icon2" src="../../../assets/images/oceanojuego/estrellademar.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img66" style="display: none">
        <img id="icon2" src="../../../assets/images/oceanojuego/estrellademart.jpg" class="responsive-img">
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img7">
      <img id="icon2" src="../../../assets/images/oceanojuego/cangrejoermitano.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img77" style="display: none">
      <img id="icon2" src="../../../assets/images/oceanojuego/cangrejoermitanot.jpg" class="responsive-img">
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="col s1" id="img8">
      <img id="icon2" src="../../../assets/images/oceanojuego/labrido.jpg" class="responsive-img">
    </div>
    <div class="col s1" id="img88" style="display: none">
      <img id="icon2" src="../../../assets/images/oceanojuego/labridot.jpg" class="responsive-img">
    </div>
  </div>
</div>



<div id = "cuadroJuego">
  <body id="cuerpoOceano" >
      <div id="an1" (click)="ocultartortuga()" style="cursor: pointer">
          <div id="bordert"></div>
      </div>
      <div id="an2" (click)="ocultarpulpo()" style="cursor: pointer">
          <div id="borderO"></div>
      </div>
      <div id="an3" (click)="ocultaranguila()" style="cursor: pointer">
          <div id="bordera"></div>
      </div>
      <div id="an4" (click)="ocultarcangrejo()" style="cursor: pointer">
          <div id="borderc"></div>
      </div>
      <div id="an5" (click)="ocultarpezangel()" style="cursor: pointer">
        <div id="borderp"></div>
      </div>
      <div id="an6" (click)="ocultarestrella()" style="cursor: pointer">
        <div id="borderestrella"></div>
      </div>
      <div id="an7" (click)="ocultarcangre()" style="cursor: pointer">
        <div id="bordercangre"></div>
      </div>
      <div id="an8" (click)="ocultarlabrido()" style="cursor: pointer">
        <div id="borderlabrido"></div>
      </div>


  </body>

  <div>
    <!--  style="display: none" -->
    <div id="msg2" style="display: none">
      <h5  id ="numero" class="center-align">Exelente, Has encontrado todos los animales!</h5>
      <img id= "tortuga" src="../../../assets/images/oceanojuego/tortuga2.gif">
      <div class="col offset-m4">
          <a class="waves-effect waves-light btn" (click)="cerrarGanador()"><i class="material-icons left">thumb_up</i>OK!</a>
      </div>
    </div>
  </div>

</div>



<div float="right">
  <a href="/juegoOceano" id="btnRetry" class="waves-effect waves-light btn">
    <i class="material-icons left">replay</i>Reiniciar </a>
</div>
<ng-template #noAn>
    <img id="icon" src="/assets/images/x.png" alt="" class="circle responsive-img">
  </ng-template>
