<br>
<a routerLink="/selva" id="btnBack" class="waves-effect waves-light btn right">
  <i class="material-icons left">reply</i>Regresar</a>
<br>

<h1 class="center">¡Aprendamos un poco más!</h1>

<div  class="row">

    <div class="col s12 m12 l6">
        <iframe width="510" height="315" src="https://www.youtube.com/embed/YBw3u1c9Oic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div>

    <div class="col s12 m12 l6">
        <iframe width="510" height="315" src="https://www.youtube.com/embed/cbmhRx6nQRE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div>

    <div class="col s12 m12 l6">
        <iframe width="510" height="315" src="https://www.youtube.com/embed/q52l7Y7v0UM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div>
  
    <div class="col s12 m12 l6">
        <iframe width="510" height="315" src="https://www.youtube.com/embed/2k2IZceeytQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br><br>
    </div> 

</div>
