/* You can add global styles to this file, and also import other style files */
md-icon{
  font-family: 'Material Icons' !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2f2ed;
}

#main {
  flex: 1 0 auto;
}

main {
  flex: 1 0 auto;
}

@font-face {
  font-family: 'fuente';
  src: url("./assets/fonts/waterlily.regular.ttf");
}

h1, h5 {
font-family: fuente;
color: #7cb556;
/* font-weight:bold; */
}

h1{
  font-size: 5rem;
}

h5{
  font-size: 2rem;
}

.page-footer {
  background-color: #f2f2ed;
  font-size: 1.3rem;
  margin-top: 15px;
  opacity: 0.8;
}

#foot {
  color: #7cb556;
  font-weight: bold;
  height: 40px;
}

#infoFooter {
 margin-top: 26px;
 margin-left: 50px;
}

.btn:hover {
  background-color: #90bc73;
}

.btn{
  background: hsl(96, 39%, 52%);
}

.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #7cb556 !important;
}

.input-field input[type=text]:focus, .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #7cb556 !important;
  box-shadow: 0 1px 0 0 #7cb556 !important;
}

/*.nav-extended {
   background-image: url("/assets/images/header.png");
  background-size: 800px 200px;
  background-color: #7cb556;

}

.brand-logo {
  margin-top: 20px;
  margin-left: 10px;
  width: 170px;
  height: 170px;
  opacity: 0.85;
}*/

.brand-logo:hover {
  opacity: 1.0;
}

nav ul a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #f8fff4;
}

nav ul a:hover {
  font-size: 2rem;
  font-weight: bold;
  color: #90cb73;
  background-color: #f8fff4;
}

/* Otro logo */

.nav-extended {
  background-image: url("/assets/images/header.png");
  background-size: 750px 150px;
  background-color: #7cb556;
}

.brand-logo {
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0.75;
}

#menu{
  width: 240px;
  height: 240px;
  border: 10px solid white;
}

#menu:hover{
  border: 15px solid white;
  opacity: 0.9;
}

#face{
width: 37px;
height: 37px;
border: 1.5px solid white;
margin-top: 3px;
}

#face:hover{
border: 4px solid white;
}

#about {
  margin-top: 5px;
  font-size: 1.25rem;
}

#imgAbout {
margin-top: 12px;
margin-left: 15%;
width: 400px;
height: 400px;
}

#letra {
  font-size: 1.47rem;
  font-weight: bold;
}

.card-content {
 background-color: white;
}

.card-reveal{
background-color: rgba(255, 255, 255, 0.85) !important;
}

/* Otro
.card-reveal{
color: #ffffff;
background-color: rgba(0,0,0,0.7) !important;
}
div.card-reveal span.card-title{
color: #ffffff !important;
}
*/

//Juego Sistema Solar
#icon{
  margin: 5.2px;
  width: 50px;
  height: 50px;
}

#border{
width: 67px;
height: 67px;
border-top-style: dashed;
border-right-style: dashed;
border-bottom-style: dashed;
border-left-style: dashed;
border-color: #f2f2ed;
}

#elementos{
 background-color: #E0E0D1;
}

#cuerpo{
  background-image: url("/assets/images/planetas/SistemaSolarJuegoClean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 956px;
  background-position-y:0px;
}

#pos1{
  position: absolute;
  left: 379px;
  top:680px;
  height: 196px;
}

#pos2{
  position: absolute;
  left: 575px;
  top:510px;
  height: 196px;
}

#pos3{
  position: absolute;
  left: 615px;
  top:665px;
  height: 196px;
}

#pos4{
  position: absolute;
  left: 735px;
  top:560px;
  height: 196px;
}

#pos5{
  position: absolute;
  left: 730px;
  top:810px;
  height: 196px;
}

#pos6{
  position: absolute;
  left: 920px;
  top:690px;
  height: 196px;
}

#pos7{
  position: absolute;
  left: 1040px;
  top:560px;
  height: 196px;
}

#pos8{
  position: absolute;
  left: 1100px;
  top:834px;
  height: 196px;
}

.btn{
 background: #F4434B ;
}

.btn:hover{
 color: #F4434B;
}

#btnPlay {
  background: #F4434B ;
  color: #F4434B;
}

#btnRetry{
float:right;
}

#numero{
 font-style: initial;
 color: #f2f2ed;
}

#cuadroJuego{
 height: 650px;
}

#cuadroJuegoOceano {
  height: 700px;
}

//juego cuerpo humano

#cuerpoHumano{
background-image: url("/assets/images/juegoCuerpoHumano/CuerpoHumanojuego.jpg");
background-repeat: no-repeat;
background-size: cover;
background-size: 825px;
background-position-y:0px;
}

#cuadroJuegoHumano{
height: 745px;
}

#numeroHumano{
font-style: initial;
color: black;
}

#iconHumano{
margin-top: 5px;
width: 85px;
height: 60px;
}

#borderHumano{
width: 80px;
height: 70px;
border-top-style: dashed;
border-right-style: dashed;
border-bottom-style: dashed;
border-left-style: dashed;
border-color: black;
}

#pos1Humano{
  position: absolute;
  left: 275px;
  top:340px;
  height: 196px;
}

#pos2Humano{
  position: absolute;
  left: 275px;
  top:470px;
  height: 196px;
}

#pos3Humano{
  position: absolute;
  left: 275px;
  top:610px;
  height: 196px;
}

#pos4Humano{
  position: absolute;
  left: 275px;
  top:750px;
  height: 196px;
}

#pos5Humano{
  position: absolute;
  left: 275px;
  top:885px;
  height: 196px;
}

#pos6Humano{
  position: absolute;
  left: 930px;
  top:340px;
  height: 196px;
}

#pos7Humano{
  position: absolute;
  left: 930px;
  top:470px;
  height: 196px;
}

#pos8Humano{
  position: absolute;
  left: 930px;
  top:610px;
  height: 196px;
}

#pos9Humano{
  position: absolute;
  left: 930px;
  top:750px;
  height: 196px;
}

#pos10Humano{
  position: absolute;
  left: 930px;
  top:885px;
  height: 196px;
}

#msg{
  position: absolute;
  left: 480px;
  top:450px;
  width: 400px;
  height: 450px;
  background-color:#F4434B;
}

#cohete{
  width:380px ;
  height:317px;
  margin-left: 10px;
  margin-right: 10px;
}

#fondoJuego {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 170%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}

//Juegos responsive!!!

@media (max-width:768px){

  //CUERPO HUMANO

  #cuerpoHumano{
    background-image: url("/assets/images/juegoCuerpoHumano/CuerpoHumanojuego.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 96%;
    background-position-y:0px;
    }

    #cuadroJuegoHumano{
    height: 700px;
    }

    #pos1Humano{
      position: absolute;
      left: 65px;
      top:320px;
      height: 196px;
    }

    #pos2Humano{
      position: absolute;
      left: 65px;
      top:455px;
      height: 196px;
    }

    #pos3Humano{
      position: absolute;
      left: 65px;
      top:595px;
      height: 196px;
    }

    #pos4Humano{
      position: absolute;
      left: 65px;
      top:735px;
      height: 196px;
    }

    #pos5Humano{
      position: absolute;
      left: 65px;
      top:875px;
      height: 196px;
    }

    #pos6Humano{
      position: absolute;
      left: 490px;
      top:320px;
      height: 196px;
    }

    #pos7Humano{
      position: absolute;
      left: 490px;
      top:455px;
      height: 196px;
    }

    #pos8Humano{
      position: absolute;
      left: 490px;
      top:595px;
      height: 196px;
    }

    #pos9Humano{
      position: absolute;
      left: 490px;
      top:735px;
      height: 196px;
    }

    #pos10Humano{
      position: absolute;
      left: 490px;
      top:875px;
      height: 196px;
    }

    h4 {
      font-size: 2rem;
    }

    #msg{
      position: absolute;
      left: 150px;
      top:450px;
      width: 400px;
      height: 450px;
      background-color:#F4434B;
    }

    #cohete{
      width:380px ;
      height:317px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #fondoJuego {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.7); /*dim the background*/
    }

  // SISTEMA SOLAR

  #cuerpo{
    background-image: url("/assets/images/planetas/SistemaSolarJuegoClean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 80%;
    background-position-y:0px;
  }

  #pos1{
    position: absolute;
    left: 160px;
    top:650px;
    height: 196px;
  }

  #pos2{
    position: absolute;
    left: 280px;
    top:450px;
    height: 196px;
  }

  #pos3{
    position: absolute;
    left: 320px;
    top:620px;
    height: 196px;
  }

  #pos4{
    position: absolute;
    left: 385px;
    top:510px;
    height: 196px;
  }

  #pos5{
    position: absolute;
    left: 375px;
    top:800px;
    height: 196px;
  }

  #pos6{
    position: absolute;
    left: 510px;
    top:657px;
    height: 196px;
  }

  #pos7{
    position: absolute;
    left: 595px;
    top:540px;
    height: 196px;
  }

  #pos8{
    position: absolute;
    left: 620px;
    top:824px;
    height: 196px;
  }

  #cuadroJuego{
   height: 600px;
  }


  /// VIDEO ///

  #videoSpot {
    position: absolute;
    width:320px;
    height:240px;
    left: 5px;
    top:850px;
  }

  #btnVideo {
    position: absolute;
    left: 60px;
    top:70px;
    color: black;
  }


   //juego oceano
#cuerpoOceano{
  background-image: url("../src/assets/images/oceanojuego/oceanobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 825px;
  background-position-y:0px;
}


} // fin pantalla tablet


  #videoSpot {
    position: absolute;
    left: 225px;
    top:85px;
  }

  #spotFondo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.7); /*dim the background*/
  }

  #btnVideo {
    position: absolute;
    left: 660px;
    top:680px;
  }

  /// VIDEO Responsive///

  #videoSpotPequenno {
    position: absolute;
    left: 40px;
    top:120px; 
  }
  
  #spotFondoPequenno {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: 10;
    background-color: rgba(0,0,0,0.7); /*dim the background*/
  }
  
  #btnVideoPequenno {
    position: absolute;
    left:295px;
    top:495px;  
  } 

 // position: absolute;
 // left: 337px;
 // top:380px;
//}


#an2{
  position: absolute;
  left: 767px;
  top: 400px;
}

#an3{
  position: absolute;
  left: 550px;
  top: 620px;
}

#an4{
  position: absolute;
  left: 370px;
  top: 850px;
}

#an5{
  position: absolute;
  left: 340px;
  top: 670px;
}

#an6{
  position: absolute;
  left: 780px;
  top: 900px;
}


#an7{
  position: absolute;
  left: 850px;
  top: 700px;
}


#an8{
  position: absolute;
  left: 600px;
  top: 530px;
}

#msg2{
  position: absolute;
  left: 480px;
  top:450px;
  width: 500px;
  height: 450px;
  background-color:#1c2fa8;
  border-radius: 25px;
}

#tortuga{
  width:450px ;
  height:317px;
  margin-left: 27px;
  margin-right: 10px;
}


#icon2{
  margin: 5.2px;
  width: 170px;
  height: 50px;
}


  //juego oceano
#cuerpoOceano{
  background-image: url("../src/assets/images/oceanojuego/oceanobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 825px;
  background-position-y:0px;
}

#bordert{
  width: 250px;
  height: 230px;
}

#an1{
  position: absolute;
  left: 337px;
  top:480px;
}

#borderO{
  width: 230px;
  height: 250px;
}

#an2{
  position: absolute;
  left: 767px;
  top: 500px;
}

#bordera{
  width: 220px;
  height: 190px;
}

#an3{
  position: absolute;
  left: 550px;
  top: 720px;
}

#borderc{
  width: 280px;
  height: 130px;
}

#an4{
  position: absolute;
  left: 370px;
  top: 950px;
}

#borderp{
  width: 160px;
  height: 130px;
}

#an5{
  position: absolute;
  left: 340px;
  top: 770px;
}

#borderestrella{
  width: 100px;
  height: 80px;
}

#an6{
  position: absolute;
  left: 780px;
  top: 1000px;
}

#bordercangre{
  width: 140px;
  height: 130px;
}

#an7{
  position: absolute;
  left: 850px;
  top: 800px;
}

#borderlabrido{
  width: 140px;
  height: 70px;
}

#an8{
  position: absolute;
  left: 600px;
  top: 630px;
}

#msg2{
  position: absolute;
  left: 480px;
  top:450px;
  width: 500px;
  height: 450px;
  background-color:#1c2fa8;
}

#tortuga{
  width:450px ;
  height:317px;
  margin-left: 27px;
  margin-right: 10px;
}


#icon2{
  margin: 5.2px;
  width: 170px;
  height: 50px;
}
